@font-face {
    font-family: 'adorable';
    src: url('../fonts/adorable.woff2') format('woff2'),
         url('../fonts/adorable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_display';
    src: url('../fonts/playfairdisplaysc.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/oxygen.woff2') format('woff2'),
         url('../fonts/oxygen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}