$dark-color : #707070;
$light-color : #fff;
$gray-color : #ECECEC;
$primary-color: #392F23;
$secondary-color: #E2A439;

$primary-font: 'Oxygen', sans-serif;
$secondary-font: 'playfair_display', sans-serif;
$special-font: 'adorable', sans-serif;

    