.header {
    margin-bottom: 2rem;
    &__wrapper {
        display: flex; 
        justify-content: space-between;
        height: 8rem;
        nav ul{
            display: flex;
            list-style: none;
            height: 8rem;
            align-items: center;
            li {
                margin-left: 3rem;
                a {
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $dark-color;
                }
            }
        }
    }

}  
.toggle-menu {
    display: none
}
.mobile__menu {
        display: none;
}